body {
  background-color: #f1eff1;
}

.container {
  background-image: linear-gradient(135deg, #669bfe 0%, #befdc0 100%);
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  margin: 60px;
  max-width: 600px;
  margin: auto;
}
.page-opening {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2 {
  font-family: "Pacifico", cursive;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 18px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
}

.search-bar {
  width: 194%;
  font-size: 22px;
  border-radius: 5px;
  margin-left: -135px;
  margin-top: 30px;
}

.search-button {
  font-size: 22px;
  border: none;
  border-radius: 5px;
  margin-left: 55px;
  margin-top: 30px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.search-button:hover {
  background-color: #669bfe;
  color: #f0f0f0;
}

.current-date-heading {
  font-weight: 600;
}

.current-weather-info strong {
  color: #236ecc;
}

.weekly-forecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 70%;
}

.current-weather-info {
  margin-left: 15px;
  font-size: 14px;
}

.week-day {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 600;
}

.temp-high {
  color: #f0f0f0;
  opacity: 0.8;
  padding-bottom: 15px;
}

.temp-low {
  color: #f0f0f0;
  opacity: 0.5;
}

.windy {
  font-size: 14px;
}

footer {
  font-size: 14px;
  color: #f0f0f0;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
}
